<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-adobe-plugin"
        version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-adobe-plugin</name>
    <description>Adobe Plugin for Cordova</description>
    <license>Apache 2.0</license>
    <keywords>cordova,adobe,analytics,acpanalytics,marketing</keywords>

    <!-- use "AdobeMobilePlugin" to access the plugin APIs in javascript -->
    <js-module name="cordova-adobe-plugin" src="www/AdobeMobilePlugin.js">
        <clobbers target="AdobeMobilePlugin" />
    </js-module>

    <!-- dependency on ACPCore plugin -->
    <dependency id="cordova-acpcore" url="https://github.com/os-adv-dev/cordova-acpcore.git" />

    <!-- configure android platform -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AdobeMobilePlugin">
                <param name="android-package" value="com.adobe.marketing.mobile.cordova.AdobeMobilePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
        <!-- Add the service to the AndroidManifest.xml -->
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <service
                android:name="com.adobe.marketing.mobile.cordova.AdobeMobileFirebaseMessaging"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
        </config-file>

        <!-- plugin source -->
        <source-file src="src/android/AdobeMobilePlugin.java" target-dir="src/com/adobe/marketing/mobile/cordova" />
        <source-file src="src/android/AdobeMobileFirebaseMessaging.java" target-dir="src/com/adobe/marketing/mobile/cordova" />
        <!-- dependencies managed through included gradle file -->
        <framework custom="true" src="src/android/adobe-extension.gradle" type="gradleReference" />
    </platform>

    <!-- configure ios platform -->
    <platform name="ios">

        <hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
        <hook type="after_plugin_add" src="hooks/add_swift_support.js" />

        <config-file parent="/*" target="config.xml">
            <feature name="AdobeMobilePlugin">
                <param name="ios-package" value="AdobeMobilePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <!-- plugin source -->
        <source-file src="src/ios/AdobeMobilePlugin.swift" />
        <!-- sdk source for ios managed by cocoapods -->
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git" />
            </config>
            <pods use-frameworks="true">
                <pod name="ACPAnalytics" spec=">= 2.2.3" />
                <pod name="AEPAnalytics" spec=">= 2.2.3" />
                <pod name="AEPEdge" spec=">= 2.2.3" />
                <pod name="AEPLifecycle" spec=">= 5.0.0" />
                <pod name="AEPEdgeConsent" spec=">= 5.0.0" />
                <pod name="AEPEdgeIdentity" spec=">= 5.0.0" />
                <pod name="AEPAssurance" spec=">= 5.0.0" />
                <pod name="AEPIdentity" spec=">= 5.0.0" />
                <pod name="AEPUserProfile" spec=">= 5.0.0" />
                <pod name="AEPSignal" spec=">= 5.0.0" />
                <pod name="AEPIdentity" spec=">= 5.0.0" />
            </pods>
        </podspec>
    </platform>
</plugin>
